.HeroSection {
  padding: 7.9rem 0;
  position: relative;
  overflow: hidden;
}

.HeroSection .lines-bg {
  width: 100%;
  pointer-events: none;

  position: absolute;
  top: 0;

  display: grid;
  grid-template-columns: 5fr 5fr 6fr 3fr;
}

.HeroSection .lines-bg .lines {
  height: 7.7rem;
  border-right: none;
  transform-origin: top center;
  transform: scaleY(0);
}

.HeroSection .lines-bg .lines:nth-child(4n + 1),
.HeroSection .lines-bg .lines:nth-child(4n + 2),
.HeroSection .lines-bg .lines:nth-child(3),
.HeroSection .lines-bg .lines:nth-child(7) {
  border-right: 2px solid #1f1f1f;
}

.hero-heading {
  position: relative;
}

.hero-heading .border {
  position: absolute;
  background: #1f1f1f;
  transform-origin: left top;
}

.hero-heading .border.top,
.hero-heading .border.bottom {
  left: 0;
  height: 2px;
  width: 100%;
  transform: scaleX(0); /* collapsed */
}

.hero-heading .border.top {
  top: 0;
}
.hero-heading .border.bottom {
  bottom: 0;
}

.hero-heading h1 {
  position: relative;
  display: inline-block;
}

.hero-heading h1 .border.right {
  top: 0;
  right: -2px; /* adjust to align with h1 */
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  position: absolute;
}

.HeroSection .hero-heading h1 {
  max-width: fit-content;
  padding: 0 2rem 0 5rem;
  font-size: 6rem;
  letter-spacing: -10px;
}

.HeroSection .hero-heading .grey-block {
  position: absolute;
  right: 0;
  top: 0;
  width: 15.6vw;
  background-color: #306beb;
  height: 100%;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .HeroSection {
    padding: 8rem 0;
  }

  .HeroSection .hero-heading h1 {
    padding: 0 1rem 0 1rem;
    font-size: 4rem;
    letter-spacing: -6px;
    z-index: 1;
  }
  .HeroSection .lines-bg .lines {
    height: 6.5rem;
  }
}

@media screen and (max-width: 526px) {
  .HeroSection .hero-heading h1 {
    font-size: 3rem;
    letter-spacing: -5px;
  }

  .HeroSection .lines-bg .lines {
    height: 5.85rem;
  }
}
