.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid #000;
}

.product-image img {
  max-width: 15vw;
  display: block;
}

.product-image {
  border-right: 2px solid #000;
}

.product-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-content.image-left {
  background-color: #306beb;
}

.product-content.image-left,
.product-content.image-left a {
  color: #fff;
}

.product-content h2 {
  font-size: 2.5rem;
}

@media screen and (max-width: 767px) {
  .product-content h2 {
    font-size: 2.5rem;
  }

  .product-image img {
    max-width: 50vw;
  }

  .product-image.image-right {
    border-left: 2px solid #000;

    order: 1;
  }

  .product-image.image-left {
    border-right: 2px solid #000;

    order: -1;
  }
}

@media screen and (max-width: 526px) {
  .product-content h2 {
    font-size: 1.75rem;
  }
}
