.ProductsSection {
  margin: -0.3rem auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 2rem 4rem;
  gap: 1.25rem;
  position: relative;
  z-index: 12;
  max-width: 1200px;
} 

@media screen and (max-width: 767px) {
  .ProductsSection {
    margin: -1.5rem auto 0;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 1rem 2rem;
    gap: 1rem;
  }
}

@media screen and (max-width: 526px) {
  .ProductsSection {
    margin: -2.2rem auto 0;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}
